- @angularForm = true

%form#form_div(name="angularForm" ng-controller="scheduleFormController" ng-show="afterGet")
  = render :partial => "layouts/flash_msg"
  %fieldset
    %h3
      = _("Basic Information")
      %table.style1
        %tr.form-group(ng-class="{'has-error': angularForm.name.$invalid}")
          %td.key
            .col-sm-20.control-label
              = _("Name")
            %td.col-sm-10
              %input.form-control(type="text" name="name" ng-model="scheduleModel.name" maxlength="#{MAX_NAME_LEN}" miqrequired checkchange)
              %span.help-block(ng-show="angularForm.name.$invalid")
                = _("Required")
        %tr.form-group(ng-class="{'has-error': angularForm.description.$invalid}")
          %td.key
            .col-sm-20.control-label
              = _("Description")
            %td.col-sm-10
              %input.form-control(type="text" name="description" ng-model="scheduleModel.description" maxlength="#{MAX_DESC_LEN}" miqrequired checkchange)
              %span.help-block(ng-show="angularForm.description.$invalid")
                = _("Required")

        %tr
          %td.key
            .col-sm-20.control-label
              = _("Active")
            %td
              %input#enabled(type="checkbox" name="enabled" ng-model="scheduleModel.enabled" checkchange checkboxpicker)

        %tr
          %td.key
            .col-sm-20.control-label
              = _("Action")
            %td
              %select#action_typ.selectpicker.dropup{"name" => "action_typ",
                                                     "ng-model"    => "scheduleModel.action_typ",
                                                     "ng-change"   => "actionTypeChanged()",
                                                     "checkchange" => @schedule.id ? "" : "filter_typ,filter_value",
                                                     "ng-options"  => "o.value as o.text for o in actionTypList = buildJSObjArr(#{@action_type_options_for_select})",
                                                     "selectpicker" => ""}
              %option(value="")


  = render :partial => "schedule_form_filter"
  = render :partial => "schedule_form_timer"
  = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  miqAngularApplication.value('scheduleFormId', '#{@schedule.id || "new"}');
  miqAngularApplication.value('oneMonthAgo', {year: '#{@one_month_ago[:year]}', month: '#{@one_month_ago[:month]}', date: '#{@one_month_ago[:date]}'});
  angular.bootstrap(jQuery('#form_div'), ['miqAngularApplication']);

  $('#enabled').change(function() {
    miqAngularApplication.$scope.triggerChangeForCheckbox($('#enabled').prop('checked'));
  });

    $('#action_typ').change(function() {
      miqAngularApplication.$scope.triggerChangeForSelectPicker($('#action_typ').selectpicker('val'));
    });
